// Import shared styling
@use '../../shared';

// Styling on the header itself
:host
{
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

// Link styling
a
{
  display: block; // This is necessary for the text to be able to move for the hover state
  color: shared.$dark;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .10ch;
  transition: .1s ease;
}

// Div styling
// The div elements are used solely to create a nicer hover effect on the links
div:hover
{
  a
  {
    text-shadow: 0 .5rem 1rem;
    transform: translateY(-.2rem);
  }
}

// Selected page
.selected
{
  color: shared.$accent;
  font-weight: 900;
}
