// Import shared styling
@use '../../shared';

// Styling on the header itself
:host
{
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

// Link styling
a
{
  color: shared.$dark;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .10ch;

  p
  {
    display: block; // This is necessary for the text to be able to be moved in the hover state
    margin: 0;
    transition: .1s ease;
  }

  // Hover styling
  // Only change the style of the p-element within the link
  &:hover p
  {
    text-shadow: 0 .5rem 1rem;
    transform: translateY(-.2rem);
  }
}

// Selected page
.selected
{
  color: shared.$accent;
  font-weight: 900;
}
