@use "../../variables";

:host
{
  // Stretch to fill viewport horizontally
  align-self: normal;

  padding: 3rem;
  background: variables.$accent;
}

table
{
  margin-top: 1rem;

  td:nth-child(2)
  {
    padding-left: 2rem;
  }
}
