// Import shared styling
@use '../../shared';

// Styling on the footer itself
:host
{
  display: flex;
  justify-content: center;
  gap: clamp(7rem, 12vw, 20rem); // Dynamically change size, but have a minimum and maximum value
  margin-top: 1rem;
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
  background: shared.$medium;

  // Display vertically on smaller screens
  @media (max-width: 780px)
  {
    flex-direction: column;
    gap: 1rem;
  }
}

// Remove padding from copyright notice
p
{
  margin: 0;
}

// Link lists
div
{
  display: flex;
  flex-direction: column;
  gap: .2rem;

  // Headers
  h4
  {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  // Links
  a
  {
    // Symbol offset
    $symbol-offset: 1rem;

    position: relative;
    left: $symbol-offset;
    color: currentColor; // Unset link color

    // '>' symbol in front of link
    &::before
    {
      content: '>';
      position: absolute;
      top: 50%;
      left: -$symbol-offset;
      color: shared.$accent;
      font-weight: 600;
      font-size: 1.2em;
      transform: translateY(-50%);
    }
  }
}
