<!-- Copyright notice -->
<p>Copyright Samuel Aasen &copy; 2023</p>

<!-- Links -->
<div id="links">
  <h4>Links</h4>
  <a href="/">Home</a> <!-- This intentionally uses 'href' which reloads the page, so that it scrolls to the top -->
  <a href="mailto:soni@recalstudios.net">Contact me</a>
  <a href="https://github.com/soni801/portfolio" target="_blank">Source code</a>
</div>

<!-- Social media -->
<div id="social">
  <h4>Social media</h4>
  <a href="https://github.com/soni801" target="_blank">GitHub</a>
  <a href="https://twitch.tv/soni801" target="_blank">Twitch</a>
  <a href="https://x.com/soni801_" target="_blank">X (Twitter)</a>
  <a href="https://youtube.com/soni801" target="_blank">YouTube</a>
</div>
