@use "../../variables";

:host
{
  // Specify the padding in a variable
  $padding: 20px;

  display: block;
  position: relative;

  max-width: calc(100vw - 4 * $padding);

  padding: $padding;
  margin-top: 40px;

  background: variables.$background;
  box-shadow: rgba(variables.$accent, .4) 0 0 40px;

  border-radius: 30px;
  overflow: hidden;

  // Let the first project have less top margin (first project is child number 2, after heading)
  &:nth-child(2)
  {
    margin-top: 10px;
  }
}

p
{
  // Appear above shadow from image
  position: relative;
  z-index: 1;

  margin: 0;
}

.links
{
  // Placement
  text-align: right;
  transform: translateY(1.5em);

  // Link icon
  .material-symbols-outlined
  {
    margin-right: .5ch;
    font-size: 19px;
    transform: translateY(4px);
  }

  // Links themselves
  a
  {
    // Text styling
    text-transform: uppercase;
    text-decoration: none;

    transition: .1s ease;

    &:hover
    {
      font-weight: bold;
    }
  }

  // Space between links
  a ~ span
  {
    margin: 0 1ch;
  }
}

// Tech stack tags
.tags
{
  position: absolute;
  bottom: 10px;
}

img
{
  margin-bottom: -15px;

  border: 5px solid variables.$muted-accent;
  border-radius: 30px;

  box-shadow: variables.$accent 0 0 150px;
  transform: translate(40px, 40px);
}
