:host
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

h1
{
  margin: 0;
  font-size: 40vh;
  line-height: 1em;
}

h2
{
  margin: 0;
  font-size: 3rem;
}
