<h1>Contact</h1>
<p>This page includes where you can find me online and how to get in touch with me.</p>
<h2>Social media</h2>
<div id="social-media">
  <a href="https://github.com/soni801" target="_blank">GitHub</a>
  <a href="https://twitch.tv/soni801" target="_blank">Twitch</a>
  <a href="https://x.com/soni801_" target="_blank">X (Twitter)</a>
  <a href="https://youtube.com/soni801" target="_blank">YouTube</a>
</div>
<h2>Contact me</h2>
<div>
  <a href="mailto:soni@recalstudios.net">soni@recalstudios.net</a>
</div>
