// Import shared styling
@use "../../shared";

// Set the page itself as flex
:host
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

// Introduction paragraph
p
{
  max-width: 70ch;

  // Center align text on larger screens
  @media (min-width: 500px)
  {
    text-align: center;
  }
}

#social-media
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  // Social media links
  a
  {
    padding: .5em 1.3em;
    background: shared.$medium;
    color: shared.$dark;
    text-decoration: none;
    border-radius: 1rem;
  }
}

#get-in-touch-email
{
  margin: 0;
}
