<h1>Contact</h1>
<p>I am available online on all the platforms listed below. If you have any questions related to this site or any of my
  other services, feel free to contact me!</p>
<h2>Social media</h2>
<div id="social-media">
  <a href="https://github.com/soni801" target="_blank">GitHub</a>
  <a href="https://twitch.tv/soni801" target="_blank">Twitch</a>
  <a href="https://x.com/soni801_" target="_blank">X (Twitter)</a>
  <a href="https://youtube.com/soni801" target="_blank">YouTube</a>
</div>
<h2>Get in touch</h2>
<p id="get-in-touch-email">Email: <a href="mailto:soni@recalstudios.net">soni&#64;recalstudios.net</a></p>
