// Styling for the root app element

// Display the page as a flexbox
:host
{
  display: flex;
  flex-direction: column;
  align-items: center;

  // Make sure the footer displays at the bottom of the page, even if there isn't enough content
  min-height: 100vh;
}
