// Projects container
#projects
{
  // Positioning of children
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  // Spacing on top and bottom
  padding: 2rem 0;

  // Never be more than 2 columns
  max-width: 900px;
}
