<div id="projects">
  <div class="project">
    <h2>Project 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est ut ornare ullamcorper. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    <img src="https://placeholder.com/400" alt="Placeholder image">
  </div>
  <div class="project">
    <h2>Project 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est ut ornare ullamcorper. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    <img src="https://placeholder.com/400" alt="Placeholder image">
  </div>
  <div class="project">
    <h2>Project 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est ut ornare ullamcorper. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    <img src="https://placeholder.com/400" alt="Placeholder image">
  </div>
  <div class="project">
    <h2>Project 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est ut ornare ullamcorper. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    <img src="https://placeholder.com/400" alt="Placeholder image">
  </div>
  <div class="project">
    <h2>Project 5</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra est ut ornare ullamcorper. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
    <img src="https://placeholder.com/400" alt="Placeholder image">
  </div>
</div>
