// Projects container
#projects
{
  // Positioning of children
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  // Spacing around
  padding: 2rem;

  // Never be more than 2 columns
  max-width: 900px;
}

// Each individual project
.project
{
  // Position of children
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // This lets the image position itself correctly
  position: relative;

  // Sizing
  max-width: 400px;
  height: 400px;

  overflow: hidden;

  // Project text
  h2, p
  {
    margin: 0;
    padding: 1rem;
  }

  // Project (background) images
  img
  {
    // Positioning
    position: absolute;
    top: 0;
    z-index: -1;

    // Use all of parent width
    width: 100%;
  }
}
