@use "../../variables";

:host
{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70px;
  padding: 25px;

  background: variables.$background;

  border-radius: 30px;

  p
  {
    margin-bottom: 0;
  }
}
