// Import shared styling
@use '../../shared';

// The project itself
:host
{
  // Sizing
  width: 400px;

  // Colors
  background: shared.$medium;

  // Project text
  h2, p
  {
    margin: 0;
    padding: 1rem;
  }

  // Remove extra padding under project heading
  h2
  {
    padding-bottom: 0;
  }
}
