// The project itself
:host
{
  // Position of children
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // This lets the image position itself correctly
  position: relative;

  // Sizing
  max-width: 400px;
  aspect-ratio: 1;

  overflow: hidden;

  // Project text
  h2, p
  {
    margin: 0;
    padding: 1rem;
  }

  // Project (background) images
  img
  {
    // Positioning
    position: absolute;
    top: 0;
    z-index: -1;

    // Use all of parent width
    width: 100%;
  }
}
