<h1>Kaffe Diem-app</h1>

<div>
  <img class="right" ngSrc="/assets/projects/kaffe-diem-app.png" alt="Kaffe Diem-app" height="250" width="375">

  <p>Kaffe Diem-appen var en skoleoppgave som gikk ut på å designe en mobilapp for en valgfri kunde.
    Jeg samlet en liten gruppe som sammen lagde en prototype av en bestillingsapp til Kaffe Diem – en kaffebar på skolen.
    Appen kunne brukes til å se menyen, bestille kaffe og lese nyheter fra kaffebaren.</p>

  <p>Vi jobbet i en gruppe på 3 personer, og begynte oppgaven med å planlegge prosjektet.
    Vi delte det først inn i 3 hovedkateogier:</p>

  <ul>
    <li>iOS-app</li>
    <li>Android-app</li>
    <li>Backend/webinterface for ansatte</li>
  </ul>

  <p>Vi utformet også følgende diagram for hvordan dataflyten skulle være internt i de forskjellige delene av løsningen:</p>

  <img ngSrc="/assets/project/kaffe-diem-app/plan-old.svg" alt="Kaffe Diem-diagram" height="700" width="800">

  <p>Det er kanskje synlig her at vi på dette tidspunktet hadde ganske lite erfaring
    med programmering av større løsninger bestående av flere separate deler.
    Etter hvert som vi la til flere og flere idéer til løsningen, begynte dataflyten å bli ganske komplisert.
    I etterpåklokskap hadde det vært mye smartere å designe denne dataflyten rundt en sentral API.
    Som et konseptbevis lagde jeg derfor en ny graf i ettertid av prosjektet, der en bedre dataflyt var taken bak designet.</p>

  <img ngSrc="/assets/project/kaffe-diem-app/plan-new.svg" alt="Kaffe Diem-diagram" height="270" width="800">

  <p>Denne er, ganske tydelig, mye mindre komplisert og lettere å vedlikeholde ved en eventuell installasjon.</p>

  <hr>

  <p>Videre etter planleggingsfasen var min oppgave å designe og utvilke en protptypeapp for iOS.
    Denne skrev jeg i Swift, med SwiftUI som rammeverk for brukergrensesnittet.
    Det ferdige produktet ble ganske bra, og jeg lagde en kort promo-video for å vise frem appen:</p>

  <video controls>
    <source src="/assets/project/kaffe-diem-app/promo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <p>Dessverre ville en fullstendig utvikling av denne løsningen tatt en del ressurser å få til,
    og den ble derfor ikke utviklet noe videre etter at demo-klienten ble vist til oppdragsgiveren.</p>

  <p>Vi fikk også følgende konstruktive tilbakemeldinger fra personer som testet løsningen:</p>

  <ul>
    <li>Vi burde beskrive hver drikke i større grad enn vi gjorde
      <ul>
        <li>Dette inkluderer å ta bilder av hver enkel drikk</li>
      </ul>
    </li>
    <li>Betalingen burde skje med fysisk klippekort, slik at vi kan unngå å måtte implementere en betalingsløsning.</li>
  </ul>

  <hr>

  <p>Dette er fortsatt et prosjekt jeg til tider har lyst å jobbe på,
    da det hadde vært spenndede å utvikle en full-stack bestillingsapp.
    Dessverre ser jeg ikke et realistisk bruk for et slikt prosjekt, og det har derfor ikke blitt noe av.</p>
</div>
