// Variables
// See the color palette here: https://coolors.co/f4f4f9-d3d7da-273e47-3ba3a1
$light: #F4F4F9; // Ghost white
$medium: #D3D7DA; // Platinum
$dark: #273E47; // Charcoal
$accent: #3BA3A1; // Verdigris
