@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* You can add global styles to this file, and also import other style files */
html
{
  background: variables.$dark;
  color: variables.$foreground;

  font-family: 'Poppins', sans-serif;
}

body
{
  margin: 0;
}

h1
{
  margin: 0;

  color: variables.$muted-accent;
  text-shadow: variables.$accent 0 0 15px;

  font-size: 48px;
  font-weight: 600; // SemiBold
}

h2
{
  margin: 0;

  font-size: 16px;
  font-weight: 600; // SemiBold
  text-transform: uppercase;
}

p
{
  max-width: 375px;
  break-inside: avoid; // Never split paragraph between multiple columns
}

ul
{
  margin: 0;
  padding-left: 25px;
}

a
{
  color: variables.$foreground;
}

// Project links ("titles")
app-project-card a
{
  font-weight: bold;

  // Currently pressed links
  &:active
  {
    opacity: .5;
  }
}
