// You can add global styles to this file, and also import other style files

// Import shared styling
@use 'shared';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Import Material Symbols font
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// Base styling
html
{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  background: shared.$light;
  color: shared.$dark;
  font-family: 'Poppins', sans-serif;
}

// Material Symbols styling
.material-symbols-outlined
{
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}
