@use "../../variables";

:host
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 400px;

  margin: 300px 0;
}

#introduction
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  img
  {
    // Span 2 rows
    grid-row: 1 / 3;

    border-radius: 30px;
    box-shadow: variables.$accent 0 0 120px;
  }

  p
  {
    margin: 0;
    max-width: 32ch;
  }

  #interests
  {
    place-self: end start;
  }
}

#about-me, #projects
{
  column-count: 2;
  column-gap: 40px;
}

#knowledge
{
  // Have less space around this container
  margin: -200px 0;

  div
  {
    display: flex;
    gap: 25px;

    margin: 25px;
  }
}

.project
{
  padding: 20px;
  margin-top: 40px;

  background: variables.$background;

  border-radius: 30px;
  overflow: hidden;

  // Let the first project have less top margin (first project is child number 2, after heading)
  &:nth-child(2)
  {
    margin-top: 10px;
  }

  p
  {
    margin: 0;
  }

  img
  {
    margin-bottom: -15px;

    border: 5px solid variables.$muted-accent;
    border-radius: 30px;

    box-shadow: variables.$accent 0 0 150px;
    transform: translate(40px, 40px);
  }
}
