@use "../../variables";

// Specify the spacing between sections on the home page
$section-spacing-mobile: 100px;
$section-spacing-desktop: 150px;

:host
{
  // Use a normal css variable for section spacing to more easily change it on larger screens
  --section-spacing: #{$section-spacing-mobile};

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--section-spacing);

  margin-top: calc(2 * var(--section-spacing));
}

// Offset section headings to align properly with content on second column
h1:first-child
{
  margin-top: -16px;
}

#introduction
{
  display: grid;
  grid-row-gap: 30px;

  // Double the spacing directly below the introduction
  padding-bottom: var(--section-spacing);

  img
  {
    // Span 2 rows
    grid-row: 1 / 3;

    border-radius: 30px;
    box-shadow: variables.$accent 0 0 120px;
  }

  p
  {
    margin: 0;
    max-width: 32ch;
  }

  #interests
  {
    place-self: end start;
  }
}

#about-me
{
  padding: 0 20px;
}

// Knowledge 'cards' spacing
$knowledge-spacing: 20px;

#knowledge
{
  width: 1000px;
  max-width: 100vw; // Never be larger than the viewport

  mask: linear-gradient(to left, transparent, white 25%, white 75%, transparent);
  overflow: hidden;

  div
  {
    display: flex;
    gap: $knowledge-spacing;

    width: max-content; // Reset size for animation
    margin: $knowledge-spacing 0; // Vertical spacing between lines

    &[data-animated="true"]
    {
      animation: scroll 60s linear infinite;
    }
  }
}

#backdrop-pattern
{
  // Configure height
  $pattern-height: 1000px;

  // Sizing
  width: 100%;
  height: $pattern-height;

  // Placement
  margin-top: -$pattern-height;
  margin-bottom: calc(-1 * var(--section-spacing));

  // Create pattern
  background: variables.$accent;
  mask-image: url("/assets/pattern.png"), linear-gradient(to top, transparent, black);
  mask-composite: subtract;
  mask-position: bottom;
  mask-size: 30vw;
  z-index: -1;
}

// Desktop-only styling
@media (min-width: 900px)
{
  // Increase section spacing on larger screens
  :host
  {
    --section-spacing: #{$section-spacing-desktop};
  }

  #introduction
  {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  #about-me, #projects
  {
    column-count: 2;
    column-gap: 40px;
  }
}

// Animation related styling
[data-direction="right"]
{
  // I know using !important is generally a bad thing, but I think it is the cleanest solution here.
  animation-direction: reverse !important;
}

// Sideways scroll animation
@keyframes scroll
{
  to
  {
    transform: translate(calc(-50% - $knowledge-spacing / 2));
  }
}
