<!-- Introduction -->
<div id="introduction">
  <img ngSrc="/assets/samuel.jpg" alt="Samuel" width="300" height="450">
  <div>
    <p>Hei, jeg heter</p>
    <h1>Samuel</h1>
    <p>og jobber med informasjonsteknologi. Jeg gjør på alt fra serverdrift til design og utvikling av nettsider.</p>
  </div>
  <div id="interests">
    <h2>Mine interesser</h2>
    <ul>
      <li>Design</li>
      <li>Utvikling</li>
      <li>Serverdrift</li>
    </ul>
  </div>
</div>

<!-- About me -->
<div id="about-me">
  <h1>Om meg</h1>
  <p>Mitt navn er Samuel. Jeg kommer fra Bergen, og bruker store deler av tiden min på webutvikling. Jeg gjennomførte
    utdanningsløpet informasjonsteknologi og medieproduksjon på Amalie Skram VGS i 2020-2022. De to påløpende årene
    jobbet jeg som læring i IT-driftsfaget ved Høgskulen på Vestlandet. Her gikk arbeidet mye i drift av IT-utstyr.</p>
  <p>Jeg ble introdusert til programmering i 2016, og gikk raskt fra enkel teori til webutvikling. Etter hvert lærte jeg
    også flere funksjonelle språk. Først Java, men senere også Python, C#, TypeScript og Kotlin. Jeg sitter nå på
    kunnskap innen mange programmeringsspråk og rammeverk, og klarer raskt å tilegne meg ny kunnskap.</p>
  <p>Jeg har stor interesse for datamaskiner, programmering, design, medieproduksjon, og diverse andre digitale verktøy.
    Jeg bruker også mye av tiden min på lysdesign og lysavvikling.</p>
  <p>Jeg har jobbet med web- og frontendutvikling i mange år, og har senere også begynt å utvikle backend. Jeg har
    jobbet med flere “full-stack”-prosjekter, og har også gjort litt spillutvikling. Min sterkeste side er webutvikling,
    men jeg kan lett hoppe inn i en hvilken som helst rolle innen digital utvikling.</p>
  <p>Under kan du se et overblikk over teknologiene jeg har kjennskap til, og lenger ned kan du se enkelte av mine
    tidligere prosjekter. Dersom noe av det jeg har gjort tidligere virker interessant, kan du kontakte meg via e-post
    for å høre hva jeg kan tilby.</p>
</div>

<!-- Knowledge -->
<div id="knowledge">
  <div>
    <app-language-display name="PHP" deviconId="php"></app-language-display>
    <app-language-display name="Node.js" deviconId="nodejs"></app-language-display>
    <app-language-display name="TypeScript" deviconId="typescript"></app-language-display>
    <app-language-display name="Angular" deviconId="angular"></app-language-display>
    <app-language-display name="SASS" deviconId="sass"></app-language-display>
    <app-language-display name=".NET" deviconId="dotnetcore"></app-language-display>
    <app-language-display name="C#" deviconId="csharp"></app-language-display>
  </div>
  <div data-direction="right">
    <app-language-display name="PostgreSQL" deviconId="postgresql"></app-language-display>
    <app-language-display name="MySQL" deviconId="mysql"></app-language-display>
    <app-language-display name="Java" deviconId="java"></app-language-display>
    <app-language-display name="Kotlin" deviconId="kotlin"></app-language-display>
    <app-language-display name="Rust" deviconId="rust"></app-language-display>
    <app-language-display name="Python" deviconId="python"></app-language-display>
    <app-language-display name="Docker" deviconId="docker"></app-language-display>
  </div>
</div>

<!-- Projects -->
<div id="projects">
  <h1>Prosjekter</h1>

  <!-- Recal Social -->
  <app-project-card image="/assets/projects/recal-social.png" [techStack]="[
    { icon: 'devicon-html5-plain', reason: 'Nettsiden er skrevet i HTML' },
    { icon: 'devicon-sass-original', reason: 'SCSS ble brukt til styling' },
    { icon: 'devicon-csharp-plain', reason: 'API-en er skrevet i C#' },
    { icon: 'devicon-mysql-original', reason: 'Recal Social lagrer all data gjennom MySQL' },
    { icon: 'devicon-nestjs-original', reason: 'Løsningen benytter en NestJS WebSocket' },
    { icon: 'devicon-docker-plain', reason: 'Hele løsningen er levert via Docker' }
  ]"><a href="https://social.recalstudios.net/" target="_blank">Recal Social</a> er en web-basert sosial plattform,
    designet og utviklet fra bunnen for å være en bærekraftig måte å kommunisere på over internett. Det startet som et
    skoleprosjekt, men har senere utviklet seg til å bli et større prosjekt.</app-project-card>

  <!-- Kaffe Diem app -->
  <app-project-card image="/assets/projects/kaffe-diem-app.png" [techStack]="[
    { icon: 'devicon-swift-plain', reason: 'iOS-appen er skrevet i Swift' },
    { icon: 'devicon-html5-plain', reason: 'Grensesnittet for ansatte er skrevet i HTML' },
    { icon: 'devicon-mysql-original', reason: 'Løsningen benytter MySQL for datalagring' }
  ]"><a href="https://drive.google.com/file/d/1_eTx3CqytYzSLpZq8qOQn-fzgBaY3upU/view?usp=sharing" target="_blank">Kaffe
    Diem-appen</a> var et prosjekt som gikk ut på å designe en mobilapp for en valgfri kunde. Jeg valgte Kaffe Diem – en
    kaffebar på skolen. Appen kunne brukes til å bestille kaffe og lese nyheter fra kaffebaren.</app-project-card>

  <!-- Forum brannvarsel -->
  <app-project-card image="/assets/projects/schematic-lookup.png" [techStack]="[
    { icon: 'devicon-html5-plain', reason: 'Nettsiden er skrevet i HTML' },
    { icon: 'devicon-javascript-plain', reason: 'Nettsiden bruker vanilla JavaScript' }
  ]">Jeg utviklet en <a href="https://brannalarm.github.io/" target="_blank">nettside for å finne brannpunkt</a> i et
    bygg. Prototypen ble laget for Forum Scene. Formålet er at man kan søke opp et brannvarslingspunkt, og se hvor det
    befinner seg i bygget.</app-project-card>

  <!-- Elias portfolio -->
  <app-project-card image="/assets/projects/elias-portfolio.png" [techStack]="[
    { icon: 'devicon-html5-plain', reason: 'Nettsiden er skrevet i HTML' },
    { icon: 'devicon-javascript-plain', reason: 'Nettsiden bruker vanilla JavaScript' }
  ]">Jeg utviklet en <a href="https://eliasheggernes.com/" target="_blank">digital portefølje for Elias</a>, en god venn
    av meg. Elias har gjennomført medieproduksjon på VGS, og ønsket en måte å presentere sitt arbeid på.</app-project-card>

  <!-- Xwars -->
  <app-project-card image="/assets/projects/xwars.png" [techStack]="[
    { icon: 'devicon-angular-plain', reason: 'Web-appen er laget med Angular' },
    { icon: 'devicon-java-plain', reason: 'Skrivebordsprogrammet er skrevet i Java' },
    { icon: 'devicon-nestjs-original', reason: 'Web-appen benytter en NestJS WebSocket' }
  ]">Jeg har utviklet en <a href="https://xwars.redsea.productions/" target="_blank">digital versjon av et brettspill</a>
    jeg lagde sammen med en venn. Dette prosjektet startet først som et skrivebordsprogram, før jeg skrev det om som en
    webapplikasjon.</app-project-card>

  <!-- Samuel portfolio -->
  <app-project-card image="/assets/projects/portfolio.png" [techStack]="[
    { icon: 'devicon-angular-plain', reason: 'Nettsiden er laget med Angular' },
    { icon: 'devicon-figma-plain', reason: 'Jeg designet nettsiden i Figma' }
  ]">Nettsiden du er på nå, min digitale portefølje, har også vært et prosjekt som har pågått over lang tid og som har
    sett mange vidt forskjellige utgaver siden 2020.</app-project-card>
</div>

<!-- Backdrop pattern -->
<div id="backdrop-pattern"></div>

<!-- Footer -->
<app-footer></app-footer>
