<!-- Introduction -->
<div>
  <div>
    <p>Hei, jeg heter</p>
    <h1>Samuel</h1>
    <p>og jobber med informasjonsteknologi. Jeg gjør på alt fra serverdrift til design og utvikling av nettsider.</p>
  </div>
  <div>
    <h2>Mine interesser</h2>
    <ul>
      <li>Design</li>
      <li>Utvikling</li>
      <li>Serverdrift</li>
    </ul>
  </div>
</div>

<!-- About me -->
<div>
  <h1>Om meg</h1>
  <p>Mitt navn er Samuel. Jeg kommer fra Bergen, og bruker store deler av tiden min på webutvikling. Jeg gjennomførte
    utdanningsløpet informasjonsteknologi og medieproduksjon på Amalie Skram VGS i 2020-2022. De to påløpende årene
    jobbet jeg som læring i IT-driftsfaget ved Høgskulen på Vestlandet. Her gikk arbeidet mye i drift av IT-utstyr.</p>
  <p>Jeg ble introdusert til programmering i 2016, og gikk raskt fra enkel teori til webutvikling. Etter hvert lærte jeg
    også flere funksjonelle språk. Først Java, men senere også Python, C#, TypeScript og Kotlin. Jeg sitter nå på
    kunnskap innen mange programmeringsspråk og rammeverk, og klarer raskt å tilegne meg ny kunnskap.</p>
  <p>Jeg har stor interesse for datamaskiner, programmering, design, medieproduksjon, og diverse andre digitale verktøy.
    Jeg bruker også mye av tiden min på lysdesign og lysavvikling.</p>
  <p>Jeg har jobbet med web- og frontendutvikling i mange år, og har senere også begynt å utvikle backend. Jeg har
    jobbet med flere “full-stack”-prosjekter, og har også gjort litt spillutvikling. Min sterkeste side er webutvikling,
    men jeg kan lett hoppe inn i en hvilken som helst rolle innen digital utvikling.</p>
  <p>Under kan du se et overblikk over teknologiene jeg har kjennskap til, og lenger ned kan du se enkelte av mine
    tidligere prosjekter. Dersom noe av det jeg har gjort tidligere virker interessant, kan du kontakte meg via e-post
    for å høre hva jeg kan tilby.</p>
</div>

<!-- Projects -->
<div>
  <h1>Prosjekter</h1>
  <div>
    <p><b>Recal Social</b> er en web-basert sosial plattform, designet og utvilket fra bunnen for å være en bærekraftig
      måte å kommunisere på over internett. Det startet som et skoleprosjekt, men har senere utviklet seg til å bli et
      større prosjekt.</p>
  </div>
  <div>
    <p><b>Kaffe Diem-appen</b> var et prosjekt som gikk ut på å designe en mobilapp for en valgfri kunde. Jeg valgte
      Kaffe Diem – en kaffebar på skolen. Appen kunne brukes til å bestille kaffe og lese nyheter fra kaffebaren.</p>
  </div>
  <div>
    <p>Jeg utviklet en nettside for å <b>finne brannpunkt</b> i et bygg. Prototypen ble laget for Forum Scene. Formålet
      er at man kan søke opp et brannvarslingspunkt, og se hvor det befinner seg i bygget.</p>
  </div>
  <div>
    <p>Jeg utviklet en <b>digital portefølje for Elias</b>, en god venn av meg. Elias har gjennomført medieproduksjon på
      VGS, og ønsket en måte å presentere sitt arbeid på.</p>
  </div>
</div>
