<!-- Introduction -->
<div id="introduction">
  <img ngSrc="/assets/samuel.jpg" alt="Samuel" width="300" height="450">
  <div>
    <p>Hei, jeg heter</p>
    <h1>Samuel</h1>
    <p>og jobber med informasjonsteknologi. Jeg gjør på alt fra serverdrift til design og utvikling av nettsider.</p>
  </div>
  <div id="interests">
    <h2>Mine interesser</h2>
    <ul>
      <li>Design</li>
      <li>Utvikling</li>
      <li>Serverdrift</li>
    </ul>
  </div>
</div>

<!-- About me -->
<div id="about-me">
  <h1>Om meg</h1>

  <!-- Summary -->
  <div id="summary">
    <div class="info-tack">
      <span class="material-symbols-outlined">location_on</span>
      <p>Bergen</p>
    </div>
    <div class="info-tack">
      <span class="material-symbols-outlined">school</span>
      <p>IT-driftsfaget</p>
    </div>
    <div class="info-tack">
      <span class="material-symbols-outlined">data_object</span>
      <p>Siden 2016</p>
    </div>
    <div class="info-tack">
      <span class="material-symbols-outlined">interests</span>
      <p>IT-drift, webutvikling og automatisering</p>
    </div>
  </div>

  <!-- Current projects -->
  <div id="current-work">
    <h2>Pågående prosjekter</h2>
    <div class="info-tack">
      <i class="devicon-vscode-plain"></i>
      <p>Utvidelse til Visual Studio Code</p>
    </div>
    <div class="info-tack">
      <i class="devicon-bun-plain"></i>
      <p>Rammeverk for spillturneringer</p>
    </div>
    <div class="info-tack">
      <i class="devicon-rust-original"></i>
      <p>Verktøy for automatisering</p>
    </div>
  </div>

  <!-- Detailed text -->
  <div id="detailed-text" (click)="this.toggleAboutMe()">
    <app-about-me></app-about-me>
  </div>
</div>

<!-- About me fullscreen dialog -->
<dialog id="about-me-fullscreen">
  <div>
    <app-about-me></app-about-me>
    <button (click)="this.toggleAboutMe()">Lukk fullskjerm</button>
  </div>
</dialog>

<!-- Knowledge -->
<div id="knowledge">
  <div>
    <app-language-display name="PHP" deviconId="php"></app-language-display>
    <app-language-display name="Node.js" deviconId="nodejs"></app-language-display>
    <app-language-display name="TypeScript" deviconId="typescript"></app-language-display>
    <app-language-display name="Angular" deviconId="angular"></app-language-display>
    <app-language-display name="SASS" deviconId="sass"></app-language-display>
    <app-language-display name=".NET" deviconId="dotnetcore"></app-language-display>
    <app-language-display name="C#" deviconId="csharp"></app-language-display>
  </div>
  <div data-direction="right">
    <app-language-display name="PostgreSQL" deviconId="postgresql"></app-language-display>
    <app-language-display name="MySQL" deviconId="mysql"></app-language-display>
    <app-language-display name="Java" deviconId="java"></app-language-display>
    <app-language-display name="Kotlin" deviconId="kotlin"></app-language-display>
    <app-language-display name="Rust" deviconId="rust"></app-language-display>
    <app-language-display name="Python" deviconId="python"></app-language-display>
    <app-language-display name="Docker" deviconId="docker"></app-language-display>
  </div>
</div>

<!-- Projects -->
<div id="projects">
  <h1>Prosjekter</h1>

  <!-- Recal Social -->
  <app-project-card image="/assets/projects/recal-social.png" [techStack]="[
    { icon: 'devicon-html5-plain', tooltip: 'Web-app skrevet i HTML' },
    { icon: 'devicon-sass-original', tooltip: 'SCSS for styling' },
    { icon: 'devicon-csharp-plain', tooltip: 'API-en er skrevet i C#' },
    { icon: 'devicon-mysql-original', tooltip: 'Datalagring i MySQL' },
    { icon: 'devicon-nestjs-original', tooltip: 'WebSocket skrevet med NestJS' },
    { icon: 'devicon-docker-plain', tooltip: 'Levert via Docker' }
  ]"><a href="https://social.recalstudios.net/" target="_blank">Recal Social</a> er en web-basert sosial plattform,
    designet og utviklet fra bunnen for å være en bærekraftig måte å kommunisere på over internett. Det startet som et
    skoleprosjekt, men har senere utviklet seg til å bli et større prosjekt.</app-project-card>

  <!-- Kaffe Diem app -->
  <app-project-card image="/assets/projects/kaffe-diem-app.png" [techStack]="[
    { icon: 'devicon-swift-plain', tooltip: 'iOS-appen er skrevet i Swift' },
    { icon: 'devicon-html5-plain', tooltip: 'Grensesnittet for ansatte er skrevet i HTML' },
    { icon: 'devicon-mysql-original', tooltip: 'MySQL brukes til datalagring' }
  ]"><a href="https://drive.google.com/file/d/1_eTx3CqytYzSLpZq8qOQn-fzgBaY3upU/view?usp=sharing" target="_blank">Kaffe
    Diem-appen</a> var et prosjekt som gikk ut på å designe en mobilapp for en valgfri kunde. Jeg valgte Kaffe Diem – en
    kaffebar på skolen. Appen kunne brukes til å bestille kaffe og lese nyheter fra kaffebaren.</app-project-card>

  <!-- Forum brannvarsel -->
  <app-project-card image="/assets/projects/schematic-lookup.png" [techStack]="[
    { icon: 'devicon-html5-plain', tooltip: 'Skrevet i HTML' },
    { icon: 'devicon-javascript-plain', tooltip: 'Vanilla JavaScript' }
  ]">Jeg utviklet en <a href="https://brannalarm.github.io/" target="_blank">nettside for å finne brannpunkt</a> i et
    bygg. Prototypen ble laget for Forum Scene. Formålet er at man kan søke opp et brannvarslingspunkt, og se hvor det
    befinner seg i bygget.</app-project-card>

  <!-- Elias portfolio -->
  <app-project-card image="/assets/projects/elias-portfolio.png" [techStack]="[
    { icon: 'devicon-html5-plain', tooltip: 'Skrevet i HTML' },
    { icon: 'devicon-javascript-plain', tooltip: 'Vanilla JavaScript' }
  ]">Jeg utviklet en <a href="https://eliasheggernes.com/" target="_blank">digital portefølje for Elias</a>, en god venn
    av meg. Elias har gjennomført medieproduksjon på VGS, og ønsket en måte å presentere sitt arbeid på.</app-project-card>

  <!-- Xwars -->
  <app-project-card image="/assets/projects/xwars.png" [techStack]="[
    { icon: 'devicon-angular-plain', tooltip: 'Web-app skrevet med Angular' },
    { icon: 'devicon-java-plain', tooltip: 'Skrivebordsprogrammet er skrevet i Java' },
    { icon: 'devicon-nestjs-original', tooltip: 'Web-appen benytter en NestJS WebSocket' }
  ]">Jeg har utviklet en <a href="https://xwars.redsea.productions/" target="_blank">digital versjon av et brettspill</a>
    jeg lagde sammen med en venn. Dette prosjektet startet først som et skrivebordsprogram, før jeg skrev det om som en
    webapplikasjon.</app-project-card>

  <!-- Samuel portfolio -->
  <app-project-card image="/assets/projects/portfolio.png" [techStack]="[
    { icon: 'devicon-angular-plain', tooltip: 'Skrevet gjennom Angular' },
    { icon: 'devicon-figma-plain', tooltip: 'Designet i Figma' },
    { icon: 'devicon-docker-plain', tooltip: 'Levert via Docker' }
  ]">Nettsiden du er på nå, min digitale portefølje, har også vært et prosjekt som har pågått over lang tid og som har
    sett mange vidt forskjellige utgaver siden 2020.</app-project-card>
</div>

<!-- Backdrop pattern -->
<div id="backdrop-pattern"></div>

<!-- Footer -->
<app-footer></app-footer>
